language: android
android:
  components:
    - platform-tools
    - build-tools-23.0.1
    - android-23
    - sys-img-armeabi-v7a-android-23
    - extra-android-m2repository
    - extra-google-m2repository
jdk:
  - oraclejdk8
os:
  - linux
sudo: false
addons:
  apt:
    # Flutter depends on /usr/lib/x86_64-linux-gnu/libstdc++.so.6 version GLIBCXX_3.4.18
    sources:
      - ubuntu-toolchain-r-test # if we don't specify this, the libstdc++6 we get is the wrong version
    packages:
      - libstdc++6
      - fonts-droid
install:
  - gem install coveralls-lcov
before_script:
  - wget http://services.gradle.org/distributions/gradle-2.14.1-bin.zip
  - unzip -qq gradle-2.14.1-bin.zip
  - export GRADLE_HOME=$PWD/gradle-2.14.1
  - export PATH=$GRADLE_HOME/bin:$PATH
  - gradle -v
  - android list targets
  - ./travis_setup.sh
  - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
#  - emulator -avd test -no-audio -no-window &
#  - android-wait-for-emulator
#  - adb shell input keyevent 82 &
  - ./flutter/bin/flutter doctor
script:
  - ./flutter/bin/flutter test --coverage
after_success:
  - coveralls-lcov coverage/lcov.info

cache:
  directories:
    - $HOME/.pub-cache